* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
    height: 60px;
    padding: 0 5px;
    border-bottom: 1px solid #E5E5E5;
}
.nav-ladoIzquierdo{
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 0px 15px;
}
.nav-ladoIzquierdo a{
    text-decoration: none;
    color: #000000;
}
.nav-ladoIzquierdo a:hover{
    border-bottom: 3px solid #000000;

}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 60px;
    width: auto;
}
.rojo {
    color: #FE0300;
}
.nav-ladoDerecho{
    display: flex;
    flex-direction: row;
    gap: 0px 20px;
}
.nav-ladoDerecho img {
    height: 30px;
    width: auto;
}
.nav-ladoDerecho input {
    height: 30px;
    width: auto;
}
.container {
    display: flex;
    padding: 17px 16px;
}
.principal {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}
.nombre-VideoPrincipal{
    display: flex;
    padding: 10px 5px;
    flex-direction: column;
    gap: 7px 0px;
    font-size: 18px;
}
.parteInteractiva{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0px 7px;
}
.interactivo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.interactivo img {
    height: 30px;
    width: auto;
}
.descVideoPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descVideoPrincipal button{
    border: none;
    color: white;
    background-color: #FD0303;
    border-radius: 7px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
}
.canal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 15px;
}
.canal img {
    height: 80px;
    width: auto;
}
.canalDesc {
    display: flex;
    flex-direction: column;
    text-align: center;
}
